.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.labelled_input {
    outline: none;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid rgba(60, 78, 109, 0.4);
    transition: all ease-out 0.2s;
}

    .labelled_input:hover {
        border-color: #2b3445;
    }

    .labelled_input:focus {
        box-shadow: rgb(197, 221, 244) 0 0 0 0.2rem
    }
